## Aim: Implementation of Python Libraries - Pandas

### Lesson 4.1 - Series in Pandas

In pandas, a Series is a one-dimensional labeled array-like object that can hold data of any type (integer, float, string, etc.). It is similar to a column in a spreadsheet or a SQL table.

A Series consists of two main components: the data itself and an index that labels each element of the data. The index can be used to select, filter, and manipulate the data in a variety of ways.

In [ ]:
import pandas as sunny17

##### Creating a Series

In [ ]:
a = [2,4,6]
sunnyvar = sunny17.Series(a)
sunnyvar

0    2
1    4
2    6
dtype: int64

##### Labels
##### accesssing values through index

In [ ]:
sunnyvar[1] # accesssing values through index

4

#### Create Labels - We can create our own labels instead of predefined index

In [ ]:
a = [56, 78, 90]
sunnyvar = sunny17.Series(a,index= ["a" ,"b", "c"])
sunnyvar

a    56
b    78
c    90
dtype: int64

##### Accessing values through labels

In [ ]:
sunnyvar["b"]

78

#### Converting a list, numpy array or dictionary to a Series.

#### Numpy to Series 
##### Converting numpy array to Series

In [ ]:
import numpy as np
sunnyarr = np.array([10, 20, 30])
sunny17.Series(sunnyarr)

0    10
1    20
2    30
dtype: int64

##### Adding our own labels to Series

In [ ]:
labels = ["a","b","c"]
sunny17.Series(sunnyarr,labels)

a    10
b    20
c    30
dtype: int64

##### Converting Dictionary to Series

In [ ]:
d = {'a':10,'b':20,'c':30}
sunny17.Series(d)

a    10
b    20
c    30
dtype: int64

##### Adding our own labels to our Series

In [ ]:
#creating 2 Series
ser1 = sunny17.Series([1,2,3,4], index = ['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2 = sunny17.Series([1,2,5,4], index = ['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser1['Japan']

4

#### Operations are then also done based on their index

### Addition

In [ ]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

### End of Lesson 4.1

### Lesson 4.2 - Data frames in Pandas

#### DataFrames 
In pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, and it is one of the most commonly used data structures for data manipulation and analysis in Python.

A DataFrame can be created in several ways, but the most common way is by passing a dictionary of lists, where each key represents the column name, and each value represents the column data

In [ ]:
#creating our own dataframe from dictionary
data = {
    "Age": [8, 9, 10],
    "height":[120, 123, 124]
}
#data gets entered column wise
#load data into a dataframe object:
df = sunny17.DataFrame(data)
print(df)

   Age  height
0    8     120
1    9     123
2   10     124

### Locate Row
Pandas use the loc attribute to return one or more specified rows.

### Named Index
With the index argument, you can name your own indexes.

In [ ]:
df = sunny17.DataFrame(data, index = ["Age1", "Age2", "Age3"])
df

      Age  height
Age1    8     120
Age2    9     123
Age3   10     124

In [ ]:
import numpy as np

This code creates a Pandas DataFrame object with 5 rows and 4 columns, and assigns it to the variable df. The DataFrame contains random values generated from the standard normal distribution using the randn function from the NumPy library.

The index parameter specifies the row labels as 'A', 'B', 'C', 'D', and 'E', using the split() method to create a list of these labels from a string. The columns parameter specifies the column labels as 'W', 'X', 'Y', and 'Z', also using the split() method to create a list of these labels from a string.

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = sunny17.DataFrame(randn(5,4), index = 'A B C D E'.split(),columns = 'W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Selection & Indexing

#### Extract "W" column

In [ ]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

#### Extract more than one column

In [ ]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

#### SQL Syntax (Not Recommended)

In [ ]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

### DataFrame columns are just Series

In [ ]:
type(df['W'])

pandas.core.series.Series

### Creating a new column
##### Add 2 columns W & Y

In [ ]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

### Removing Columns
#### axis = 1 (columns)

In [ ]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#Not inplace unless specified
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

#### To make Permanent Changes use inplace parameter

In [ ]:
df.drop('new',axis=1, inplace=True) 
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Can also drop this way
#### axis=0 (row)

In [ ]:
df.drop('E',axis=0) #delete row

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

### Selecting Rows
#### select based on label

In [ ]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

### Select based on position

In [ ]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

### Selecting subset of rows & columns

In [ ]:
df.loc['B','Y']

-0.8480769834036315

In [ ]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Returns True or False for columns having values greater than zero.

In [ ]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

#### Returns actual values in the dataframe having values greater than zero.

In [ ]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Select 'W' column but only having values greater than zero.

In [ ]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

##### The first part of the code df[df['W']>0] selects all rows in the DataFrame df where the value in the 'W' column is greater than 0.

##### The second part of the code ['Y'] selects only the values in the 'Y' column of the filtered rows.

In [ ]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

### 1} Reset
### 2} Split

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Reset to default 0,1...n index

In [ ]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

#### Adding new columns States using split() method.

In [ ]:
newind = 'CA NY WY OR CO'.split()
df['States'] = newind

In [ ]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

#### changing index of dataframe to states

In [ ]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

##### Making the changes permanent

In [ ]:
df.set_index('States', inplace = True)
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

### End of Lesson 4.2

### Handling Missing data - Lesson 4.3

In [ ]:
import numpy as npsunny17

#### Creating a dataframe with missing values

In [ ]:
df = sunny17.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,8],'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  8.0  3

#### checking for null values in the dataframe

In [ ]:
df.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False

### checking for notnull() values in the dataframe.

In [ ]:
df.notnull()

       A      B     C
0   True   True  True
1   True  False  True
2  False   True  True

#### dropna() - Remove all rows with NA values from the DataFrame

In [ ]:
df.dropna()

     A    B  C
0  1.0  5.0  1

#### Making the changes permanent

In [ ]:
df.dropna(axis=1,inplace=True)
df

   C
0  1
1  2
2  3

In [ ]:
df1 = sunny17.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df1

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### Keep only the rows having 2 or more valid data

In [ ]:
df1.dropna(axis=0, thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

### fillna() - Replace null values with the specified value

In [ ]:
df1.fillna(value=-99)

      A     B  C
0   1.0   5.0  1
1   2.0 -99.0  2
2 -99.0 -99.0  3

#### Fill only for a particular column

In [ ]:
df1['A'].fillna(value=df['A'].mean())

#### The fillna() method is used to fill in missing values, and the argument method='pad' specifies that we want to use the previous valid value to fill in missing values.

In [ ]:
df1.fillna(method='pad')

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

In [ ]:
df2 = sunny17.DataFrame({'A':[np.nan,2,3],'B':[5,np.nan,7],'C':[1,2,3]})
df2

     A    B  C
0  NaN  5.0  1
1  2.0  NaN  2
2  3.0  7.0  3

#### The fillna() method is used to fill in missing values, and the argument method='bfill' specifies that we want to use the next valid value to fill in missing values.

In [ ]:
df2.fillna(method='bfill')

     A    B  C
0  2.0  5.0  1
1  2.0  7.0  2
2  3.0  7.0  3

#### Replace nan values with -99

In [ ]:
df2.replace(to_replace = np.nan, value=-99)

      A     B  C
0 -99.0   5.0  1
1   2.0 -99.0  2
2   3.0   7.0  3

In [ ]:
df2.replace(to_replace = np.nan, value=-99, inplace=True) 
df2

      A     B  C
0 -99.0   5.0  1
1   2.0 -99.0  2
2   3.0   7.0  3

#### Interpolation: Interpolation in pandas is a technique for filling in missing values in a DataFrame or Series by estimating the values that should be there based on the values that are present.

In [ ]:
df3 = sunny17.DataFrame({'A':[1,2, npsunny17.nan],'B':[5,npsunny17.nan,8],'C':[1,npsunny17.nan,3], 'D':[4,5,npsunny17.nan]})
df3

     A    B    C    D
0  1.0  5.0  1.0  4.0
1  2.0  NaN  NaN  5.0
2  NaN  8.0  3.0  NaN

In [ ]:
#to interpolate the missing values with mean 
df3.interpolate(method='linear',limit_direction='forward')

     A    B    C    D
0  1.0  5.0  1.0  4.0
1  2.0  6.5  2.0  5.0
2  2.0  8.0  3.0  5.0

### End of Lesson 4.3

### GroupBy with Pandas | Merge with Pandas | Joins with Pandas | Concatenation (Lesson 4.4)

In Pandas, the groupby() function is used to group a DataFrame by one or more columns, and apply a function to each group separately. The groupby() function returns a DataFrameGroupBy object, which can be used to perform various aggregation functions on the groups, such as sum(), mean(), min(), max(), etc.

In [ ]:
import pandas as sunny17

In [ ]:
data = {'Company':['Parle','Parle','Godrej','Godrej','Lakme','Lakme'],
        'Person':['Rakesh','Suresh','Mahesh','Kalpesh','Yogesh','Hitesh'],
        'Sales':[200,120,340,124,243,350]}

In [ ]:
df = sunny17.DataFrame(data)
df

  Company   Person  Sales
0   Parle   Rakesh    200
1   Parle   Suresh    120
2  Godrej   Mahesh    340
3  Godrej  Kalpesh    124
4   Lakme   Yogesh    243
5   Lakme   Hitesh    350

In [ ]:
by_comp = df.groupby('Company')

### first() - Displays the First Occurence of each group.

In [ ]:
by_comp.first()

         Person  Sales
Company
Godrej   Mahesh    340
Lakme    Yogesh    243
Parle    Rakesh    200

### Merging, Joining, Concatenating

### Create DataFrame with the name of the students

In [ ]:
df1 = sunny17.DataFrame({
    'A':['Sunny','Rakesh','Rahul','Rohit'],
    'B':['Akshay','Dev','Nitish','Prathan'],
    'C':['Prathamesh','Siddhartha','Yash','Finny'],
    'D':['Omkar','Kapil','krishna','Virat']},
    index=[0,1,2,3]
)
df1

        A        B           C        D
0   Sunny   Akshay  Prathamesh    Omkar
1  Rakesh      Dev  Siddhartha    Kapil
2   Rahul   Nitish        Yash  krishna
3   Rohit  Prathan       Finny    Virat

In [ ]:
df2 = sunny17.DataFrame({
    'A':['Sheetal','Laksmi','Rupa','Malvika'],
    'B':['Pooja','Archana','Seeta','Siya'],
    'C':['Krisha','Avisha','Mohini','Sakshi'],
    'D':['Diya','Shivani','Riya','Priya']},
    index=[4,5,6,7]
)
df2

         A        B       C        D
4  Sheetal    Pooja  Krisha     Diya
5   Laksmi  Archana  Avisha  Shivani
6     Rupa    Seeta  Mohini     Riya
7  Malvika     Siya  Sakshi    Priya

In [ ]:
df3 = sunny17.DataFrame({
    'A':['Raj','Rutik','Pranita','lia'],
    'B':['Pia','Tia','Narendra','Gauri'],
    'C':['Ganesh','Shiva','Durga','Shakti'],
    'D':['Kartik','Ajay','Ram','Shahrukh']},
    index=[8,9,10,11]
)
df3

          A         B       C         D
8       Raj       Pia  Ganesh    Kartik
9     Rutik       Tia   Shiva      Ajay
10  Pranita  Narendra   Durga       Ram
11      lia     Gauri  Shakti  Shahrukh

### Concatenation: Concatenation basically  glues together DatFrames. Keep in mind that dimensions should match axis you are concatenating on.

Concatenation in Pandas is the process of combining two or more data structures (such as Series or DataFrames) into a single one.
It is done using the concat() function, which allows you to concatenate along rows or columns, and also specify how to handle missing data.
By default, concatenation is done based on index values, but you can also specify the axis to concatenate along and set new indices if needed.

In [ ]:
sunny17.concat([df1,df2,df3])

          A         B           C         D
0     Sunny    Akshay  Prathamesh     Omkar
1    Rakesh       Dev  Siddhartha     Kapil
2     Rahul    Nitish        Yash   krishna
3     Rohit   Prathan       Finny     Virat
4   Sheetal     Pooja      Krisha      Diya
5    Laksmi   Archana      Avisha   Shivani
6      Rupa     Seeta      Mohini      Riya
7   Malvika      Siya      Sakshi     Priya
8       Raj       Pia      Ganesh    Kartik
9     Rutik       Tia       Shiva      Ajay
10  Pranita  Narendra       Durga       Ram
11      lia     Gauri      Shakti  Shahrukh

### Concat column wise use axis=1

In [ ]:
sunny17.concat([df1,df2,df3],axis=1)

,A,B,C,D,A,B,C,D,A,B,C,D
0,Sunny,Akshay,Prathamesh,Omkar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rakesh,Dev,Siddhartha,Kapil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rahul,Nitish,Yash,krishna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rohit,Prathan,Finny,Virat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Sheetal,Pooja,Krisha,Diya,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Laksmi,Archana,Avisha,Shivani,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Rupa,Seeta,Mohini,Riya,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,Malvika,Siya,Sakshi,Priya,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Raj,Pia,Ganesh,Kartik
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rutik,Tia,Shiva,Ajay
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pranita,Narendra,Durga,Ram
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lia,Gauri,Shakti,Shahrukh

In [ ]:
left = sunny17.DataFrame({
    'key':['K0','K1','K2','K3'],
    'A':['Akshay','Dev','Nitish','Prathan'],
    'B':['Prathamesh','Siddhartha','Yash','Finny']})

right = sunny17.DataFrame({
    'key':['K0','K1','K2','K3'],
    'C':['Pooja','Archana','Sakshi','Nirma'],
    'D':['Hema','Rekha','Jaya','Sushma']})

In [ ]:
left

  key        A           B
0  K0   Akshay  Prathamesh
1  K1      Dev  Siddhartha
2  K2   Nitish        Yash
3  K3  Prathan       Finny

In [ ]:
right

  key        C       D
0  K0    Pooja    Hema
1  K1  Archana   Rekha
2  K2   Sakshi    Jaya
3  K3    Nirma  Sushma

### Merge
#### The Merge function allows you to merge DataFrames together using a similar logic as merging together.

Merge in Pandas is a function used to combine two or more DataFrames based on one or more common columns (keys).
It allows you to perform different types of joins, such as inner, outer, left, and right, and specify how to handle missing data and duplicates.
Merge can also be performed on indices instead of columns by using the left_index and right_index parameters.

In [ ]:
sunny17.merge(left,right,how='inner',on='key')

  key        A           B        C       D
0  K0   Akshay  Prathamesh    Pooja    Hema
1  K1      Dev  Siddhartha  Archana   Rekha
2  K2   Nitish        Yash   Sakshi    Jaya
3  K3  Prathan       Finny    Nirma  Sushma

In [ ]:
left = sunny17.DataFrame({
    'key1':['K0','K0','K1','K2'],
    'key2':['K0','K1','K0','K1'],
    'A':['Akshay','Dev','Nitish','Prathan'],
    'B':['Prathamesh','Siddhartha','Yash','Finny']})  


right = sunny17.DataFrame({
    'key1':['K0','K1','K1','K2'],
    'key2':['K0','K0','K0','K0'],
    'C':['Pooja','Archana','Sakshi','Nirma'],
    'D':['Hema','Rekha','Jaya','Sushma']})

In [ ]:
left

  key1 key2        A           B
0   K0   K0   Akshay  Prathamesh
1   K0   K1      Dev  Siddhartha
2   K1   K0   Nitish        Yash
3   K2   K1  Prathan       Finny

In [ ]:
right

  key1 key2        C       D
0   K0   K0    Pooja    Hema
1   K1   K0  Archana   Rekha
2   K1   K0   Sakshi    Jaya
3   K2   K0    Nirma  Sushma

The resulting DataFrame will have all the columns from both the left and right DataFrames, with rows matched based on the values in the 'key1' and 'key2' columns. Any rows that do not have matching keys in both DataFrames will be dropped from the result.

In [ ]:
sunny17.merge(left,right, on=['key1','key2'])

  key1 key2       A           B        C      D
0   K0   K0  Akshay  Prathamesh    Pooja   Hema
1   K1   K0  Nitish        Yash  Archana  Rekha
2   K1   K0  Nitish        Yash   Sakshi   Jaya

#### Outer join - Joining matching & non-matching rows from both the table

In [ ]:
sunny17.merge(left,right,how='outer' ,on=['key1','key2'])

  key1 key2        A           B        C       D
0   K0   K0   Akshay  Prathamesh    Pooja    Hema
1   K0   K1      Dev  Siddhartha      NaN     NaN
2   K1   K0   Nitish        Yash  Archana   Rekha
3   K1   K0   Nitish        Yash   Sakshi    Jaya
4   K2   K1  Prathan       Finny      NaN     NaN
5   K2   K0      NaN         NaN    Nirma  Sushma

#### Right join - Matching & Non-Matching rows of Right table and matching rows of left table.

In [ ]:
sunny17.merge(left,right,how='right' ,on=['key1','key2'])

  key1 key2       A           B        C       D
0   K0   K0  Akshay  Prathamesh    Pooja    Hema
1   K1   K0  Nitish        Yash  Archana   Rekha
2   K1   K0  Nitish        Yash   Sakshi    Jaya
3   K2   K0     NaN         NaN    Nirma  Sushma

#### Left Join - Matching & Non-Matching rows of Left table and matching rows of Right table.

In [ ]:
sunny17.merge(left,right,how='left' ,on=['key1','key2'])

  key1 key2        A           B        C      D
0   K0   K0   Akshay  Prathamesh    Pooja   Hema
1   K0   K1      Dev  Siddhartha      NaN    NaN
2   K1   K0   Nitish        Yash  Archana  Rekha
3   K1   K0   Nitish        Yash   Sakshi   Jaya
4   K2   K1  Prathan       Finny      NaN    NaN

#### Joining
Joining in Pandas is a method used to combine two or more DataFrames based on their indices, rather than their columns.
It is similar to merge, but the main difference is that join only considers the indices, while merge considers both indices and columns.
Joining is done using the join() method, which allows you to perform inner, outer, left, and right joins, and also specify how to handle missing data.

In [ ]:
left = sunny17.DataFrame({
    'A':['Sunny','Rakesh','Rahul'],
    'B':['Akshay','Dev','Nitish']},
    index=['K0','K1','K2']
)

right = sunny17.DataFrame({
    'C':['Krisha','Avisha','Mohini'],
    'D':['Diya','Shivani','Riya']},
    index=['K0','K2','K3'])

In [ ]:
left

         A       B
K0   Sunny  Akshay
K1  Rakesh     Dev
K2   Rahul  Nitish

In [ ]:
right

         C        D
K0  Krisha     Diya
K2  Avisha  Shivani
K3  Mohini     Riya

#### Display All rows of left table and Only Matching rows of right table.

In [ ]:
left.join(right)

         A       B       C        D
K0   Sunny  Akshay  Krisha     Diya
K1  Rakesh     Dev     NaN      NaN
K2   Rahul  Nitish  Avisha  Shivani

#### Display all the rows of both Left & Right Table.

In [ ]:
left.join(right, how='outer')

         A       B       C        D
K0   Sunny  Akshay  Krisha     Diya
K1  Rakesh     Dev     NaN      NaN
K2   Rahul  Nitish  Avisha  Shivani
K3     NaN     NaN  Mohini     Riya

### Lesson 4.5 - Exploratory Data Analysis

### What is EDA?
EDA (Exploratory Data Analysis) is an approach used in data science to analyze and summarize the main characteristics of a dataset. It is a preliminary step in data analysis that helps data analysts to understand the structure, features, and patterns of the data before applying any statistical or machine learning models to it.

EDA involves various techniques and methods to explore and visualize data. The primary goal of EDA is to get insights and find patterns in the data that can be used to inform decisions and drive further analyses. Some common techniques used in EDA include:

Descriptive statistics: EDA often starts with descriptive statistics, such as measures of central tendency, variability, and distribution. These statistics provide a summary of the key characteristics of the data.

Data visualization: EDA often involves creating visual representations of the data, such as histograms, scatterplots, and box plots. These visualizations can reveal patterns, outliers, and relationships in the data that might not be apparent from the descriptive statistics alone.

Data cleaning: EDA often includes data cleaning, which involves identifying and handling missing or invalid data, dealing with outliers and anomalies, and transforming variables as needed.

Feature engineering: EDA can also involve feature engineering, which is the process of creating new variables or features that can better capture the information in the data or make it more suitable for the modeling process.

### Types Of EDA.
There are several types of EDA (Exploratory Data Analysis) that can be used to analyze and summarize a dataset, each with its own strengths and weaknesses. Some common types of EDA include:

Univariate Analysis: This type of EDA involves analyzing a single variable at a time. It focuses on summarizing the distribution, central tendency, variability, and other properties of the variable using measures such as histograms, frequency tables, and summary statistics.

Bivariate Analysis: This type of EDA involves analyzing the relationship between two variables. It is useful for identifying patterns, correlations, and other relationships between variables that can be used to inform modeling or further analysis. Common techniques used in bivariate analysis include scatterplots, correlation matrices, and contingency tables.

Multivariate Analysis: This type of EDA involves analyzing more than two variables at a time. It is useful for identifying complex relationships and patterns between multiple variables, and can help to identify potential interactions or confounding variables that may be important to consider in further analysis. Common techniques used in multivariate analysis include principal component analysis (PCA), cluster analysis, and factor analysis.

Time Series Analysis: This type of EDA involves analyzing data that changes over time, such as stock prices or weather patterns. Time series analysis involves techniques such as trend analysis, seasonal decomposition, and autoregression to identify patterns, trends, and relationships in the data over time.

### Functions used in EDA

describe(): This function is used to generate summary statistics of a DataFrame, including count, mean, standard deviation, minimum, and maximum values, and percentiles.

info(): This function provides information about the DataFrame, such as the number of rows and columns, the data types of each column, and whether there are any missing values.

isnull(): This function is used to identify missing values in a DataFrame. It returns a Boolean value for each cell, indicating whether the value is missing (True) or not (False).

value_counts(): This function is used to count the number of occurrences of each unique value in a column. It is often used to identify the frequency distribution of categorical variables.

dropna(): This function is used to remove rows or columns that contain missing values from a DataFrame.

fillna(): This function is used to fill in missing values in a DataFrame. It can be used to replace missing values with a specific value or to interpolate missing values based on the surrounding values.

head(): Display First five rows of DataFrame

tail(): Display last five rows of DataFrame.

unique(): is a pandas function that returns an array of unique values in a pandas object, such as a DataFrame or Series. It can be used to identify the unique values in a column and to count the number of unique values in a pandas object.

nunique(): is a pandas function that returns the number of unique values in a pandas object, such as a DataFrame or Series. It can be used to count the number of unique values in a column and to calculate the number of unique values for each column in a DataFrame.

apply(): is a pandas function that can be used to apply a function to each element or row of a pandas object, such as a DataFrame or Series. It is a powerful tool that can be used for data cleaning, data transformation, and feature engineering. By applying a function to each element or row, you can efficiently manipulate and process large datasets.

sort_values(): is a pandas function that can be used to sort a DataFrame or Series by one or more columns. By default, the function sorts the data in ascending order, but you can specify descending order by setting the "ascending" parameter to False

### Data Skewness with Example.
Data skewness refers to the asymmetry in the distribution of a dataset. Skewness measures the deviation of the distribution from the normal distribution. A dataset can be positively skewed, negatively skewed, or symmetric.

For example, consider a dataset that represents the salaries of employees in a company. If the distribution of salaries is positively skewed, it means that the majority of employees have salaries below the mean, and there are a few employees with high salaries that pull the mean to the right. In contrast, if the distribution is negatively skewed, it means that the majority of employees have salaries above the mean, and there are a few employees with low salaries that pull the mean to the left.

A symmetric distribution, on the other hand, has equal numbers of observations on both sides of the mean. Skewness can have a significant impact on statistical analyses, such as regression analysis, hypothesis testing, and confidence interval estimation, as it can affect the validity of assumptions about the data. Therefore, it is important to examine the skewness of a dataset before conducting any statistical analysis.

In [ ]:
import pandas as sunny17
sunny17 = sunny17.DataFrame({'col1':[1,2,4,5,6],'col2':[444,555,666,444,777],'col3':['abc','def','aghi','xyz','ghj']})
sunny17.head()

   col1  col2  col3
0     1   444   abc
1     2   555   def
2     4   666  aghi
3     5   444   xyz
4     6   777   ghj

### Info on unique values

In [ ]:
sunny17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int64
 1   col2    5 non-null      int64
 2   col3    5 non-null      object
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [ ]:
sunny17['col2'].unique()

array([444, 555, 666, 777])

In [ ]:
sunny17['col2'].nunique()

4

In [ ]:
sunny17['col2'].value_counts()

444    2
555    1
666    1
777    1
Name: col2, dtype: int64

In [ ]:
print(sunny17.head(2))

   col1  col2 col3
0     1   444  abc
1     2   555  def

#### Applying Functions

In [ ]:
sunny17['col3'].apply(len) #get string len of 3rd column

0    3
1    3
2    4
3    3
4    3
Name: col3, dtype: int64

In [ ]:
#Total of col1
sunny17['col1'].sum()

18

In [ ]:
#Median of col1
sunny17['col1'].median()

4.0

In [ ]:
#Mean of col1
sunny17['col1'].mean()

3.6

#### Permanently removing a column

In [ ]:
del sunny17['col1']

In [ ]:
sunny17

   col1  col2  col3
0     1   444   abc
1     2   555   def
2     4   666  aghi
3     5   444   xyz
4     6   777   ghj

#### Get Columns & Index names

In [ ]:
sunny17.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
sunny17.index

RangeIndex(start=0, stop=5, step=1)

#### Sorting & Ordering a DataFrame

In [ ]:
sunny17

   col1  col2  col3
0     1   444   abc
1     2   555   def
2     4   666  aghi
3     5   444   xyz
4     6   777   ghj

In [ ]:
sunny17.sort_values(by='col3') #inplace=False by default

   col1  col2  col3
0     1   444   abc
2     4   666  aghi
1     2   555   def
4     6   777   ghj
3     5   444   xyz

In [ ]:
sunny17

   col1  col2  col3
0     1   444   abc
1     2   555   def
2     4   666  aghi
3     5   444   xyz
4     6   777   ghj

#### Data Skewness

In [ ]:
sunny17.describe() # describe only numeric columns

           col1        col2
count  5.000000    5.000000
mean   3.600000  577.200000
std    2.073644  144.726293
min    1.000000  444.000000
25%    2.000000  444.000000
50%    4.000000  555.000000
75%    5.000000  666.000000
max    6.000000  777.000000

In [ ]:
sunny17.describe().transpose()

      count   mean         std    min    25%    50%    75%    max
col1    5.0    3.6    2.073644    1.0    2.0    4.0    5.0    6.0
col2    5.0  577.2  144.726293  444.0  444.0  555.0  666.0  777.0

In [ ]:
sunny17

   col1  col2  col3
0     1   444   abc
1     2   555   def
2     4   666  aghi
3     5   444   xyz
4     6   777   ghj

In [ ]:
#Get Minimum Values from each column
sunny17.min()

col1      1
col2    444
col3    abc
dtype: object

In [ ]:
#Get Maximum Values from each column
sunny17.max()

col1      6
col2    777
col3    xyz
dtype: object

In [ ]:
# count number of elements in each column
sunny17.count()

col1    5
col2    5
col3    5
dtype: int64

# Pandas Exercise -1

 We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

** Import pandas as pd.**

In [ ]:
import pandas as pd
import io

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Salaries.csv to Salaries.csv

In [ ]:
sunny = pd.read_csv(io.BytesIO(uploaded['Salaries.csv']))

<ipython-input-54-eb59c4012eab>:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sunny = pd.read_csv(io.BytesIO(uploaded['Salaries.csv']))

** Check the head of the DataFrame. **

In [ ]:
sunny.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [ ]:
sunny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [ ]:
# replace 'Not Provided' with NaN in the DataFrame
import numpy as np
sunny.replace('Not Provided', np.nan, inplace=True)

In [ ]:
sunny.replace('Not provided', np.nan, inplace=True)

In [ ]:
sunny.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
sunny.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [ ]:
#Count number of NAN in DataFrame 
sunny.isna().sum()

Id                       0
EmployeeName             6
JobTitle                 4
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [ ]:
sunny.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN

In [ ]:
sunny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  object
 4   OvertimePay       148650 non-null  object
 5   OtherPay          148650 non-null  object
 6   Benefits          112491 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Agency            148654 non-null  object
 11  Status            38119 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 13.6+ MB

In [ ]:
sunny.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN

What is the average BasePay ?

In [ ]:
sunny['BasePay'] = sunny['BasePay'].astype(float)
sunny['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sunny['OvertimePay'] = sunny['OvertimePay'].astype(float)
sunny['OvertimePay'].max()

245131.88

** What is the job title of  GARY JIMENEZ ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sunny[sunny['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does GARY JIMENEZ make (including benefits)? **

In [ ]:
sunny[sunny['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [ ]:
ind = sunny['TotalPayBenefits'].idxmax()
sunny.loc[ind]['EmployeeName']

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
ind = sunny['TotalPayBenefits'].idxmin()
sunny.iloc[ind]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sunny.groupby('Year').mean()['BasePay']

<ipython-input-77-782e1b60e15a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sunny.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [ ]:
sunny['JobTitle'].nunique()

2158

** What are the top 5 most common jobs? **

In [ ]:
sunny['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
(sunny[sunny['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [ ]:
sunny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  object
 6   Benefits          112491 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Agency            148654 non-null  object
 11  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 13.6+ MB

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
sunny['JobTitle'] = sunny['JobTitle'].astype(str)
sunny['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

627

### Conclusions: We have successfully implemented Pandas Python libraries in this practical.